Есть 2 практики и 2 индивидуальных задания.

Нужен отдельный отчёт по практике и по индивидуальным заданиям.

Если средняя оценка по лабораторным работам равна
3: на зачёте один вопрос по теории и один вопрос по практике;
4: на зачёте один вопрос по теории;
5: самозачёт.
